@media (min-width: 200px) and (max-width: 300px) {

  .parent_xsm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c1215;
    color: white;
    width: 100vw;
  }
  
  .parent_wrapper_xsm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        margin-bottom: 0;
        padding-left: 2vw;
    }

    .logo_item_xsm { 
        margin: 5px;
        margin-top: 0px;
    }

    .header_logo_xsm {
        margin-top: 0px;
        width: 20px;
        height: 20px;
    }

    .header_signature_xsm {
        width: 60px;
        margin-top: 0px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 7px;
        padding: 5px;
        font-size: 7px;
        width: 100vw;
    }

    .first_menubar_xsm p {
        padding: 0px;
    }

    .second_menubar_xsm {
        gap: 15px;
        padding: 5px;
        width: 100vw;
        margin-bottom: 0px;
        font-size: 6.5px;
    }

    .second_menubar_xsm p {
        padding: 0px;
    }

    .buttons_xsm {
        margin-top: 8px;
        display: flex;
        font-size: 10px;
        flex-direction: row;
        transform: scale(0.7);
    }
    .login_button_xsm {
        width: 80px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 4px;
        margin-bottom: 5px;
    }

    .register_button_xsm {
        width: 80px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 4px;
    }

}

@media (min-width: 300px) and (max-width: 400px){
    .parent_xsm {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0c1215;
        color: white;
        width: 100vw;
      }
      
      .parent_wrapper_xsm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
      }
    
        .logo__signature_and_button_parent_xsm {
            display: flex;
            flex-direction: row;
            width: 100vw;
            justify-content: space-between;
            margin-bottom: 0vh;
            padding-left: 2vw;
        }
    
        .logo_item_xsm { 
            margin: 5px;
            margin-top: 0px;
        }
    
        .header_logo_xsm {
            margin-left: 20px;
            margin-top: 0;
            width: 30px;
            height: 30px;
        }
    
        .header_signature_xsm {
            margin-left: 15vw;
            margin-top: 0px;
            transform: scale(0.9);
        }
    
        .first_menubar_xsm {
            gap: 10px;
            padding: 5px;
            width: 100vw;
        }
    
        .first_menubar_xsm p {
            font-size: 9px;
            padding: 0px;
        }
    
        .second_menubar_xsm {
            gap: 10px;
            padding: 7px;
            width: 100vw;
            margin-bottom: 0px;
            font-size: 5px;
        }
    
        .second_menubar_xsm p {
            font-size: 10.55px;
            padding: 0px;
        }
    
        .buttons_xsm {
            margin-top: 5px;
            display: flex;
            font-size: 10px;
            flex-direction: row;
            transform: scale(0.7);
        }
        .login_button_xsm {
            width: 80px;
            padding: 5px;
            padding-top: 5px;
            padding-bottom: 4px;
            margin-bottom: 5px;
        }
    
        .register_button_xsm {
            width: 80px;
            padding: 5px;
            padding-top: 5px;
            padding-bottom: 4px;
        }

}

@media (min-width: 400px) and (max-width: 600px) {

    .parent_xsm {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0c1215;
        color: white;
        width: 100vw;
      }
      
      .parent_wrapper_xsm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
      }


    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 0vw;
        width: 100vw;
        margin-top: 15px;
    }

    .header_logo_xsm {
        margin-top: 0px;
        margin-left: 30px;
        transform: scale(1);
    }

    .header_signature_xsm {
        margin-left: 15vw;
        margin-top: 0px;
        transform: scale(0.95);
    }

    .first_menubar_xsm {
        gap: 15px;
        margin-top: 0px;
        margin-bottom: -4px;
        font-size: 11px;
    }

    .first_menubar_xsm p {
        padding: 0px;
    }

    .second_menubar_xsm {
        gap: 20px;
        margin-bottom: 0px;
        font-size: 12px;
    }

    .second_menubar_xsm p {
        padding: 4px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 0px;
        margin-right: 5vw;
        font-size: 15px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.8);
    }

    .register_button_xsm {
        width: 80px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 4px;
    }

    .login_button_xsm {
        width: 80px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 4px;
    }

}


@media (min-width: 600px) and (max-width: 800px) {

    .parent_xsm {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0c1215;
        color: white;
        width: 100vw;
      }
      
      .parent_wrapper_xsm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
      }


    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 0vw;
        width: 100vw;
        margin-top: 5px;
    }

    .header_logo_xsm {
        margin-left: 20px;
        transform: scale(1);
    }

    .header_signature_xsm {
        margin-left: 20vw;
        margin-top: 0;
        transform: scale(0.95);
    }

    .first_menubar_xsm {
        gap: 50px;
        margin-top: 0px;
        margin-bottom: 0;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 65px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 14px;
        margin-right: 5vw;
        font-size: 15px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.8);
    }

    .register_button_xsm {
        width: 80px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 4px;
    }

    .login_button_xsm {
        width: 80px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 4px;
    }

}




@media (min-width: 800px) and (max-width: 1000px) {

    .parent_xsm {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0c1215;
        color: white;
        width: 100vw;
      }
      
      .parent_wrapper_xsm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
      }

      

    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 35vw;
    }

    .header_logo_xsm {
        margin-left: 2vw;
        transform: scale(0.9);
    }

    .header_signature_xsm {
        margin-left:15vw;
        margin-right: 0px;
        margin-top: 0px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 80px;
        margin-top: 0px;
        margin-bottom: -3px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap:90px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 17px;
        margin-right: 5vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(1.1);
    }

    .register_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .login_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

}





@media (min-width: 1000px) and (max-width: 1200px) {

    .parent_xsm {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0c1215;
        color: white;
        width: 100vw;
      }
      
      .parent_wrapper_xsm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
      }

      

    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 35vw;
    }

    .header_logo_xsm {
        margin-left: 2vw;
        transform: scale(0.9);
    }

    .header_signature_xsm {
        margin-left:15vw;
        margin-right: 0px;
        margin-top: 0px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 100px;
        margin-top: 0px;
        margin-bottom: -3px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 110px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 17px;
        margin-right: 5vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(1.1);
    }

    .register_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .login_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

}

