.services_parent {
    position: relative;
    width: 100vw;
    display: contents;
    align-items: center;
    justify-content: center;
  }
  
  .services_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-bottom: 100px;
  }
  
  .black_box {
    background-color: #0e121a;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 5px 10px rgb(9, 10, 21);
    margin-top: 200px;
    margin-bottom: 5vh;
    transition: 0.5s;
  }
  .black_box:hover{
    transition: 0.5s;
transform: scale(1.005);  
} 
  
  .black_box_list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
  }
  
  .black_box_item_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111418;
    width: 200px;
    border-width: 0.5px;
    border-radius: 8px;
    box-shadow: white 0px 0px 7px;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  .black_box_item_1:hover {
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: rgb(0, 0, 0) 0px 0px 7px;
  } 


  .black_box_item_1:hover {
    background-color: rgba(33, 33, 33, 0.89);
  }
  
  .black_box_image_1 {
    border-radius: 50px;
    margin-bottom: 10px;
  }
  
  .black_box_item_1 p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }

  .displayed_items_div { 
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  
.essentials_list, .essentials_list2 { 
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 5vh;
    width: 100vw;
  }
  
  .essentials_list h1, .essentials_list2 h1 { 
    font-size: 18px;
    font-weight: 600;
    color: rgb(14, 42, 50);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .essentials_list p, .essentials_list2 p { 
    font-size: 10px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(36, 94, 111);
  } 
  


  .offered_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap:10px;
  }
  
  .offered_item {
    gap: 0.5vw;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20vh;
    transform: scale(0.5);
  }
  
  .logo_ssl_logo,
  .private_domain_logo {
    box-shadow: white 0px 0px 7px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
  }
  
  .logo_ssl_logo:hover,
  .private_domain_logo:hover {
    box-shadow: white 0px 0px 15px;
    transition: 0.5s;
  transform: scale(1.05);
  } 
  
  /* Add more styles as needed */
  